{%- extends "base.html" %}
{%- block scripts %}
{{ super() }}
    <script type="text/javascript">
        var num_list = new Array();
        var num_result;
        var str;
        function update_status(){
            var button_chauvenet = $("a#chauvenet");
            var button_clear = $("a#clear_all");
            var button_handle = $("a#handle");
            if(num_list.length){
                button_clear.attr("class",button_clear.attr("class").slice(0,15));
            }else{
                button_clear.attr("class",button_clear.attr("class").slice(0,15)+"disabled");
            }
            if(num_list.length>=5){
                button_chauvenet.attr("class",button_chauvenet.attr("class").slice(0,16));
                button_handle.attr("class",button_handle.attr("class").slice(0,16));
            }else{
                button_chauvenet.attr("class",button_chauvenet.attr("class").slice(0,16)+"disabled");
                button_handle.attr("class",button_handle.attr("class").slice(0,16)+"disabled");
            }
            var id_num = 0;
            var num = $("#data-table").find("tbody").children().first();
            while(num && num.text()){
                num.attr("class","");
                num.attr("id","list_"+id_num);
                num.children().first().text(id_num);
                num = num.next();
                id_num++;
            }
        }
        function onclick_num(nums) {
            str = document.getElementById("num_message");
            str.value = str.value + nums;
        }
        function onclick_delete() {
            str = document.getElementById("num_message");
            str.value = str.value.slice(0,-1);
        }
        function onclick_clear() {
            str = document.getElementById("num_message");
            str.value = ''
        }
        function onclick_result() {
            str = document.getElementById("num_message");
            if(str.value) {
                num_result = eval(str.value);
                str.value = num_result;
            }
        }
        function onclick_append() {
            onclick_result();
            str = document.getElementById("num_message");
            append_list(str)
        }
        function onclick_erase(id_num) {
            var num = $("#list_"+id_num);
            num_list.splice(id_num,1);
            num.remove();
            update_status();
        }
        function onclick_clear_all(){
            var table = $("#data-table");
            num_list = new Array();
            table.find("tbody").children().remove();
            $("#mean").text("无");
            $("#std_dev").text("无");
            $("#std_dev_mean").text("无");
            update_status();
        }
        function append_list(num) {
            var list_tr = $("#data-table").find("tbody");
            var tru = $("<tr></tr>");
            var td1 = $("<td></td>");
            var td2 = $("<td></td>");
            var id_num = 0;
            if(list_tr.children().length){
                id_num = parseInt(list_tr.children().last().attr("id").slice(5)) + 1;
            }
            tru.attr("id","list_"+id_num);
            td1.text(id_num);
            tru.append(td1);
            td2.append($("<i></i>").text(num.value));
            var a = $("<a></a>");
            a.attr("href","#data-table");
            a.attr("onclick","onclick_erase("+id_num+")");
            a.append($("<span></span>").attr("class","glyphicon glyphicon-remove pull-right").attr("aria-hidden","true"));
            td2.append(a);
            tru.append(td2);
            list_tr.append(tru);
            num_list.push(num.value);
            update_status();
            onclick_clear();
        }
    </script>
    <script type="text/javascript">
        $(function() {
            $('a#chauvenet').bind('click', function() {
                $.getJSON('{{ url_for('tools.chauvenet') }}',{number_list:num_list.join(" ")},function(data) {
                    var tr = document.getElementById(data.index);
                    if(tr){
                        tr.setAttribute("class","danger");
                    }
                });
                return false;
            });
            $('a#handle').bind('click', function() {
                $.getJSON('{{ url_for('tools.handle') }}',{number_list:num_list.join(" ")},function (data) {
                    $("#mean").text(data.mean);
                    $("#std_dev").text(data.std_dev);
                    $("#std_dev_mean").text(data.std_dev_mean);
                });
                return false;
            });
        });
    </script>
{%- endblock scripts %}

{%- block title %}实验数据处理{%- endblock %}
{%- block page_content %}
<div class="container-fluid">
    <div class="row">
    <div class="col-lg-4">
        <div class="well well-sm">
        <div class="container-fluid">
        <div class="row" style="margin-bottom: 30px">
            <input type="text" id="num_message" name="number" class="text form-control">
        </div>
        <div class="row">
            <div class="btn-group col-lg-push-0">
                <input type="button" value="7" id="7" onclick="onclick_num(7)" class="btn">
                <input type="button" value="8" id="8" onclick="onclick_num(8)" class="btn">
                <input type="button" value="9" id="9" onclick="onclick_num(9)" class="btn">
            </div>
            <div class="btn-group col-lg-push-0">
                <input type="button" value="Del" id="delete" onclick="onclick_delete()" class="btn btn-primary">
                <input type="button" value="AC" id="clear" onclick="onclick_clear()" class="btn btn-danger">
            </div>
        </div>
        <br>
        <div class="row">
            <div class="btn-group col-lg-push-0">
                <input type="button" value="4" id="4" onclick="onclick_num(4)" class="btn">
                <input type="button" value="5" id="5" onclick="onclick_num(5)" class="btn">
                <input type="button" value="6" id="6" onclick="onclick_num(6)" class="btn">
            </div>
            <div class="btn-group col-lg-push-0">
                <input type="button" value="*" id="mul" onclick="onclick_num('*')" class="btn">
                <input type="button" value="/" id="division" onclick="onclick_num('/')" class="btn">
            </div>
        </div>
        <br>
        <div class="row">
            <div class="btn-group col-lg-push-0">
                <input type="button" value="1" id="1" onclick="onclick_num(1)" class="btn">
                <input type="button" value="2" id="2" onclick="onclick_num(2)" class="btn">
                <input type="button" value="3" id="3" onclick="onclick_num(3)" class="btn">
            </div>
            <div class="btn-group col-lg-push-0">
                <input type="button" value="+" id="add" onclick="onclick_num('+')" class="btn">
                <input type="button" value="-" id="sub" onclick="onclick_num('-')" class="btn">
            </div>
        </div>
        <br>
        <div class="row">
            <div class="btn-group col-lg-push-0">
                <input type="button" value="0" id="0" onclick="onclick_num(0)" class="btn">
                <input type="button" value="." id="point" onclick="onclick_num('.')" class="btn">
            </div>
            <div class="btn-group col-lg-push-0">
                <input type="button" value="=" id="result" onclick="onclick_result()" class="btn btn-warning">
                <a class="btn btn-primary" onclick="onclick_append()" id="append">next</a>
            </div>
        </div>
        </div>
        </div>
    </div>
    <div class="col-lg-4" id="data-table">
        <div class="panel panel-default">
        <div class="panel-heading">
            <div class="panel-title">实验数据表</div>
        </div>
        <table class="table">
            <thead>
                <tr>
                  <th>#</th>
                  <th>值</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
        <div class="panel-footer">
            <div class="btn-group" align="center">
                <a href="#data-table" type="button" id="clear_all" onclick="onclick_clear_all()" class="btn btn-danger disabled">清除所有</a>
                <a href="#data-table" type="button" id="chauvenet" class="btn btn-primary disabled">剔除坏值</a>
                <a href="#data-result-table" type="button" id="handle" class="btn btn-warning disabled">标准偏差</a>
            </div>
        </div>
        </div>
    </div>
    <div class="col-lg-3" id="data-result-table">
        <div class="panel panel-default">
        <div class="panel-heading">
            <div class="panel-title">实验数据表</div>
        </div>
        <ul class="list-group">
            <li class="list-group-item">平均值：<span id="mean">无</span></li>
            <li class="list-group-item">标准偏差：<span id="std_dev">无</span></li>
            <li class="list-group-item">平均标准偏差：<span id="std_dev_mean">无</span></li>
        </ul>
        </div>
    </div>
    </div>
</div>
{%- endblock %}