{%- macro post_item(post) -%}
<li class="post-item">
    <article class="post">
        <div class="avatar"><img src="{{post.author.gravatar}}"></div>
        <span class="author">{{post.author.username}}</span>
        <h3 class="post-title"><a href="{{ url_for("main.article", post_id=post.id)}}">{{post.title}}</a></h3>
        <span class="post-time">{{post.timestamp.strftime("%d %B %Y %I:%M%p")}}</span>
        <p class="post-summary">{{post.summary}}</p>
    </article>
</li>
{%- endmacro -%}
