{%- extends "base.html" %}
{%- import "bootstrap/wtf.html" as wtf %}
{%- import "_macros.html" as macros %}
{%- block title %}CodeBlog - 消息{%- endblock %}

{%- block page_content %}
<div class="page-header">
    <h4>消息</h4>
</div>
<div class="row">
    <aside class="col-md-3">
    <div class="panel panel-primary">
        <div class="panel-heading">消息列表</div>
        <ul class="list-group">
            {%- for dialogue in dialogues if dialogue.get_session(current_user).show %}
                <li class="list-group-item">
                    {%- if dialogue.having_new_chats(current_user) %}
                    <span class="badge">{{ dialogue.having_new_chats(current_user) }}</span>
                    <a href="/dialogues/{{ dialogue.id }}">
                        {{ dialogue.name(current_user) }}
                    </a>
                    {%- else %}
                    <a href="/dialogues/{{ dialogue.id }}">
                        {{ dialogue.name(current_user) }}
                        <a href="/dialogues/{{ dialogue.id }}?delete_true=1">
                        <button class="btn btn-xs pull-right">
                            <span style="color: rgb(40, 40, 40); font-size: 12px;" class="glyphicon glyphicon-remove"></span>
                        </button>
                        </a>
                    </a>
                    {%- endif %}
                </li>
            {%- else %}
                <li class="list-group-item">
                无消息
                </li>
            {%- endfor %}
        </ul>
    </div>
    </aside>
    <div class="col-md-9">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="panel-title">
                    {%- if dialogue %}
                    {{ dialogue.name(current_user) }}
                    {%- else %}
                        消息
                    {%- endif %}
                </div>
            </div>
            <div class="panel-body">
                {%- if chats %}
                   {%- include "message/_dialogue.html" %}
                {%- else %}
                    没有聊天记录
                {%- endif %}
            </div>
            {%- if pagination and pagination.total//pagination.per_page %}
            <div class="panel-footer">
                    {{ macros.pagination_widget(pagination, 'main.dialogues', dialogue_id=dialogue.id) }}
            </div>
            {%- endif %}
        </div>
    {%- if form %}
    <div class="form">
        {{ wtf.quick_form(form) }}
    </div>
    {%- endif %}
    </div>
</div>
{%- endblock %}