{% extends "base.html" %}
{% import "_macros.html" as macros %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Codeblog - {{ title }}{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>{{ title }}</h1>
</div>
<div class="well well-lg" style="background-color: rgba(255, 255, 255, 0.90)">
    {{ wtf.quick_form(form) }}
</div>
<br>
<div class="container-fluid">
    <div class="row">
    <div class="panel panel-default">
    <table class="table table-hover followers">
        <thead><tr><th>栏目</th><th>父栏目</th><th>子栏目</th><th>文章数</th><th>操作</th></tr></thead>
    {% if categories %}
        {% for category in categories %}
        <tr>
            <td>{{ category.name }}</td>
            <td>{{ category.parent_category }}</td>
            <td>
                {{  category.son_categories }}
            </td>
            <td>
                {{ category.count }}
            </td>
            <td>
                {% if category.id != 1 %}
                <a href="{{ url_for('main.categories') }}/edit/{{ category.id }}">
                    <span class="btn btn-xs btn-warning">修改</span>
                </a>
                <a href="{{ url_for('main.delete_category',category_id=category.id) }}">
                    <span class="btn btn-xs btn-danger">删除</span>
                </a>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    {% endif %}
    </table>
    </div>
    </div>
</div>
{% if pagination and pagination.total//pagination.per_page %}
<div class="pagination">
    {{ macros.pagination_widget(pagination,endpoint) }}
</div>
{% endif %}
{% endblock %}