{%- extends "base.html" %}
{%- import "_macros.html" as macros %}
{%- import "bootstrap/wtf.html" as wtf %}

{%- block title %}Codeblog - 所有栏目{%- endblock %}

{%- block page_content %}
<div class="page-header">
    <h4>所有栏目</h4>
</div>
<div class="container-fluid">
    <div class="row">
    <div class="well well-lg" style="background-color: rgba(255, 255, 255, 1);border-radius: 10px">
    {{ wtf.quick_form(form) }}
    </div>
    </div>
    <div class="row">
    <div class="panel panel-default">
    <table class="table table-hover followers">
        <thead><tr><th>栏目</th><th>父栏目</th><th>子栏目</th><th>文章数</th><th>文章</th><th>操作</th></tr></thead>
    {%- if categories %}
        {%- for category in categories %}
        <tr>
            <td>{{ category.name }}</td>
            <td>{{ category.parent_category.name }}</td>
            <td>
                {%- for son_category in category.son_categories %}
                    {%- if not loop.first %}&nbsp;{%- endif %}
                {{  son_category.name }}
                {%- endfor %}
            </td>
            <td>
                {{ category.posts.count() }}
            </td>
            <td>
            {%- for article in category.posts %}
            {%- if not loop.first %}&nbsp;{%- endif %}
                &lt;&lt;
                <a href="{{ url_for('post.article',post_id=article.id) }}" target="_blank">{{ article.title }}</a>
                &gt;&gt;
            {%- endfor %}
            </td>
            <td>
                {%- if category.id != 1 %}
                <a href="{{ url_for('admin_manager.categories') }}/edit/{{ category.id }}">
                    <span class="btn btn-xs btn-warning">修改</span>
                </a>
                <a href="{{ url_for('admin_manager.delete_category',category_id=category.id) }}">
                    <span class="btn btn-xs btn-danger">删除</span>
                </a>
                {%- endif %}
            </td>
        </tr>
        {%- endfor %}
    {%- endif %}
    </table>
    </div>
    {%- if pagination and pagination.total//pagination.per_page %}
    <div class="pagination">
        {{ macros.pagination_widget(pagination, request.endpoint) }}
    </div>
    {%- endif %}
    </div>
</div>
{%- endblock %}