{%- extends "base.html" %}
{%- import "_macros.html" as macros %}

{%- block title %}CodeBlog - {{ title }}{%- endblock %}

{%- block page_content %}
<div class="page-header">
    <h4>{{ title }}</h4>
</div>
<div class="container-fluid">
    <div class="row">
    <div class="panel panel-default">
    <table class="table table-hover">
        <thead>
        <tr>
            <th>#</th><th>author</th><th>timestamp</th>
            <th>last_edit</th><th>栏目</th><th>标签</th>
            <th>标题</th><th>操作</th>
        </tr>
        </thead>
        <tbody>
        {%- for article in articles %}
        <tr>
            <td>{{ article.id }}</td>
            <td>
                <a href="{{ url_for('main.user',username=article.author.username) }}" target="_blank">
                    {{ article.author.username }}
                </a>
            </td>
            <td>{{ moment(article.timestamp).format('YY-MM-DD HH:mm') }}</td>
            <td>{{ moment(article.last_edit).format('YY-MM-DD HH:mm') }}</td>
            <td>{{ article.category.name }}</td>
            <td>{%- for tag in article.tags %}{%- if not loop.first %},{%- endif %}{{ tag.content }}{%- endfor %}</td>
            <td>{{ article.title }}</td>
            <td>
                <div  class="btn-group-vertical">
                <a type="button" class="btn btn-sm btn-default" href="{{ url_for('post.article',post_id=article.id) }}" target="_blank">详情</a>
                <a type="button" class="btn btn-sm btn-warning" href="{{ url_for('post.edit_article', post_id=article.id) }}" target="_blank">修改</a>
                <a type="button" class="btn btn-sm btn-danger"
                   href="{{ url_for('post.delete_post', post_id=article.id) }}?next={{ request.url }}">删除</a>
                </div>
            </td>
        </tr>
        {%- endfor %}
        </tbody>
    </table>
    </div>
    </div>
    {%- if pagination and pagination.total//pagination.per_page %}
    <div class="row">
    <div class="pagination">
        {{ macros.pagination_widget(pagination, request.endpoint) }}
    </div>
    </div>
    {%- endif %}
</div>
{%- endblock %}