{% extends "base.html" %}
{% import "_macros.html" as macros %}

{% block title %}CodeBlog - 所有吐槽{% endblock %}

{% block page_content %}
<div class="page-header">
    <h4>所有吐槽</h4>
</div>
<div class="panel panel-primary">
<table class="table table-hover followers">
    <thead>
    <tr>
        <th>#</th><th>author</th><th>内容</th><th>操作</th>
    </tr>
    </thead>
    <tbody>
    {% for talk in talks %}
    <tr>
        <td>{{ talk.id }}</td>
        <td>
            <a href="{{ url_for('main.user',username=talk.author.username) }}" target="_blank">
                {{ talk.author.username }}
            </a>
        </td>
        <td>{{ talk.body }}</td>
        <td>
            <div  class="btn-group-vertical">
            <a type="button" class="btn btn-sm btn-warning" href="{{ url_for('post.edit_talk', post_id=talk.id) }}">修改</a>
            <a type="button" class="btn btn-sm btn-danger" href="{{ url_for('post.delete_post', post_id=talk.id) }}">删除</a>
            </div>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
</div>
{% if pagination and pagination.total//pagination.per_page %}
<div class="pagination">
    {{ macros.pagination_widget(pagination, request.endpoint) }}
</div>
{% endif %}
{% endblock %}