.jumbotron{
     background-color: transparent;
}
body{
    background: url("background.png") repeat;
}
.alert{
    background: white;
    color: black;
    opacity: 0.9;
}
.post-container{

}
.post-default{
    background-color: rgb(255, 255, 255);
}
.post-draft{
    background-color: rgb(240, 240, 240);
}
.small-font{
     color: darkgrey;
}
.pagination-container{
    margin-left: 10px;
}
#float-top{
    padding:0;
    margin-left: 90%;
    position: fixed;
    opacity: 0.6
}