.jumbotron{
     background-color: transparent
}
body{
    background: url("background.png") repeat;
}
.alert{
    background: white;
    color: black;
    opacity: 0.9
}
.post-container{

}
.post-default{
    background-color: rgb(255, 255, 255);
    border-radius: 0;
    margin-left: -30px;
    margin-right: -30px;
}
.post-draft{
    background-color: rgb(240, 240, 240);
    border-radius: 0;
    margin-left: -30px;
    margin-right: -30px;
}
.small-font{
     color: darkgrey;
}
.pagination-container{
    margin-left: -23px;
    margin-right: -23px;
}