.jumbotron{
     background-color: transparent
}
body{
    background: url("background.png") repeat;
}
.alert{
    background: white;
    color: black;
    opacity: 0.9
}
.post-container{
    margin-left: -15px;
    margin-right: -15px;
}
.editormd-preview-container, .editormd-html-preview{
    padding: 0;
}
.post-default{
    background-color: rgb(255, 255, 255);
    border-radius: 0;
    margin-left: -15px;
    margin-right: -15px;
}
.post-draft{
    background-color: rgb(240, 240, 240);
    border-radius: 0;
    margin-left: -30px;
    margin-right: -30px;
}
.small-font{
     color: darkgrey;
}
.pagination-container{
    margin-left: -23px;
    margin-right: -23px;
}
#float-top{
    padding:0;
    margin-left: 70%;
    margin-top: 0;
    position: fixed;
    opacity: 0.3
}