.jumbotron{
     background-color: transparent
}
body{
    background-color: whitesmoke;
}
.alert{
    background: white;
    color: black;
    opacity: 0.9
}
.post-default{
    background-color: rgb(255, 255, 255);
    border-radius: 0;
    border-bottom-style: dotted;
    border-bottom-color: black;
    border-bottom-width: 2px;
    margin-bottom: 0px;
    margin-left: -31px;
    margin-right: -31px;
}
.post-draft{
    background-color: rgb(240, 240, 240);
    border-radius: 0;
    border-bottom-style: dotted;
    border-bottom-color: black;
    border-bottom-width: 2px;
    margin-bottom: 0px;
    margin-left: -31px;
    margin-right: -31px;
}
.small-font{
     color: darkgrey;
}