<!DOCTYPE html>
<html lang="en">
<head>
{% block head %}
    <title>{% block title %}{% endblock %} - weblog</title>
    {% include "partial/head.html" %}
{% endblock %}
</head>
<body>
<div id="page">
    <header>
        {% include "partial/header.html" %}
    </header>
    <div id="content">
        {% block content %}
        {% endblock %}
    </div>
    <footer>
        {% block footer %}
        {% include "partial/footer.html" %} 
        {% endblock %}
    </footer>
</div>
</body>
</html>
