{% extends "base.html" %}

{% block title %}CodeBlog - Internal Server Error{% endblock %}

{% block navbar %}
<div class="navbar navbar-default" role="navigation" style="opacity: 0.8">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ url_for('main.index') }}">CodeBlog</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                {% if current_user.is_authenticated %}
                <li role="presentation" class="dropdown"><a class="dropdown-toggle"
                 data-toggle="dropdown" role="button"
                  aria-haspopup="true" aria-expanded="false">
                社区 <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/neighbourhood?show_followed=0#neighbourhood">所有</a></li>
                        <li><a href="/neighbourhood?show_followed=1#neighbourhood">关注</a></li>
                    </ul>
                </li>
                {% else %}
                <li role="presentation"><a href="{{ url_for('main.neighbourhood') }}#neighbourhood" role="button">社区</a>
                {% endif %}
                {% if current_user.is_authenticated %}
                {% if current_user.new_messages_count %}
                <li role="presentation" class="dropdown"><a class="dropdown-toggle"
                 data-toggle="dropdown" role="button"
                  aria-haspopup="true" aria-expanded="false">个人 <span class="badge xs">{{ current_user.new_messages_count }}</span>
                  <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ url_for('main.user',username=current_user.username) }}">主页</a></li>
                        <li><a href="{{ url_for('main.dialogues') }}">消息 <span class="badge xs">{{ current_user.new_messages_count }}</span></a></li>
                        <li><a href="{{ url_for('main.new_article') }}">发博文</a></li>
                        <li><a href="{{ url_for('main.new_talk') }}">吐槽</a></li>
                    </ul>
                </li>
                {% else %}
                <li role="presentation" class="dropdown"><a class="dropdown-toggle"
                 data-toggle="dropdown" role="button"
                  aria-haspopup="true" aria-expanded="false">个人
                  <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ url_for('main.user',username=current_user.username) }}">主页</a></li>
                        <li><a href="{{ url_for('main.dialogues') }}">消息</a></li>
                        <li><a href="{{ url_for('main.new_article') }}">发博文</a></li>
                        <li><a href="{{ url_for('main.new_talk') }}">吐槽</a></li>
                    </ul>
                </li>
                {% endif %}
                {% endif %}
                {% if current_user.is_authenticated and current_user.is_moderator() %}
                <li role="presentation" class="dropdown"><a class="dropdown-toggle"
                 data-toggle="dropdown" role="button"
                  aria-haspopup="true" aria-expanded="false">管理
                  <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ url_for('main.users') }}">所有用户</a></li>
                        <li><a href="{{ url_for('main.moderate')}}">所有评论</a></li>
                        <li><a href="{{ url_for('main.categories')}}">所有栏目</a></li>
                    </ul>
                </li>
                {% endif %}
            </ul>
            <div>
                {% if current_user.is_authenticated %}
                <a href="{{ url_for('auth.logout') }}" type="button" class="btn navbar-btn navbar-right btn-info">注销</a>
                {% else %}
                <a href="{{ url_for('auth.login') }}" type="button" class="btn navbar-btn navbar-right btn-info">登陆</a>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block page_content %}
<div class="container">
    <div class="jumbotron" style="background-color: transparent">
        <div>
            <h1 align="center">Internal Server Error</h1>
        </div>
    </div>
</div>
{% endblock %}
