{% for post in posts if post %}
    <div class="panel panel-default">
        <div class="panel-body">
            <a href="{{ url_for('.user', username=post.author.username) }}">
            <h3>{{ post.author.username }}</h3>
            </a>
            {% if post.is_article %}
            <hr/>
            <span class="label label-success">Last edit : {{ moment(post.last_edit).fromNow() }}</span>
            {% endif %}
            <span class="label label-info">Create : {{ moment(post.timestamp).format('LL') }}</span>
            <div class="post-body">
                {% if post.title %}
                    <h3>{{ post.title }}</h3>
                {% endif %}
                {% if post.is_article %}
                <a href="{{ url_for('.article',id=post.id) }}#comments">
                {% if post.comments.count() > 1 %}
                    <span class="label label-warning" style= "margin-right:4px">
                        Has {{ post.comments.count() }} Comments
                    </span>
                {% elif post.comments.count() == 1 %}
                    <span class="label label-info" style= "margin-right:4px">
                        Has 1 Comment
                    </span>
                {% else %}
                    <span class="label label-default" style= "margin-right:4px">
                        Has none
                    </span>
                {% endif %}
                </a>
                {% if post.category %}
                    <span class="label label-primary">
                        {{ post.category.name }}
                    </span>
                {% endif %}
                {% endif %}
                <hr/>
                {% if posts.__len__() == 1 or not post.is_article or not post.summary %}
                    {% if post.body_html %}
                        {{ post.body_html | safe }}
                    {% else %}
                        {{ post.body }}
                    {% endif %}
                {% else %}
                    {% if post.summary_html %}
                        {{ post.summary_html | safe }}
                    {% else %}
                        {{ post.summary }}
                    {% endif %}
                    {% if post.is_article %}<p align="center"><i>略。。。</i></p>{% endif %}
                {% endif %}
            </div>
        </div>                 
        <div class="panel-footer">
            <div class="btn-group">
                {% if post.is_article %}
                    {% if current_user == post.author %}
                        <a href="{{ url_for('main.edit_article',id=post.id) }}">
                            <button type="button" class="btn btn-default btn-warning">修改</button>
                        </a>
                    {% elif current_user.is_moderator() %}
                        <a href="{{ url_for('main.edit_article',id=post.id) }}">
                            <button type="button" class="btn btn-default btn-danger">修改[Admin]</button>
                        </a>
                    {% endif %}
                    {% if posts.__len__() != 1 %}
                    <a href="{{ url_for('main.article',id=post.id) }}">
                        <button type="button" class="btn btn-default">详情</button>
                    </a>
                    {% endif %}
                {% else %}
                    {% if current_user == post.author %}
                        <a href="{{ url_for('main.edit_talk',id=post.id) }}">
                            <button type="button" class="btn btn-default btn-warning">修改</button>
                        </a>
                    {% elif current_user.is_moderator() %}
                        <a href="{{ url_for('main.edit_talk',id=post.id) }}">
                            <button type="button" class="btn btn-danger">修改[Admin]</button>
                        </a>
                    {% endif  %}
                {% endif %}                  
            </div>
        </div>
    </div>
{% else %}
    无文章
{% endfor %}

