{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}
{% block title %}CodeBlog - Article{% endblock %}

{% block page_content %}
{% include '_posts.html' %}
<h4 id='comments'>评论</h4>
{{ wtf.quick_form(form) }}
<p></p>
{% include '_comments.html' %}
{% if pagination.total//pagination.per_page %}
<div class="pagination">
    {{ macros.pagination_widget(pagination, '.article', fragment='#comments', id=posts[0].id) }}
</div>
{% endif %}
{% endblock %}