{% extends "base.html" %}
{% import "_macros.html" as macros %}

{% block title %}Codeblog - {{ title }}{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>{{ title }}</h1>
</div>
<table class="table table-hover followers">
    <thead><tr><th>栏目</th><th>父栏目</th><th>子栏目</th></tr></thead>
    {% for category in categorys %}
    <tr>
        <td>{{ category.name }}</td>
        <td>{{ category.parentcategory }}</td>
        <td>
            {{  category.soncategorys }}
        </td>
    </tr>
    {% endfor %}
</table>
<div class="pagination">
    {{ macros.pagination_widget(pagination,endpoint) }}
</div>
{% endblock %}