{%- extends "base.html" %}
{%- import "bootstrap/wtf.html" as wtf %}

{%- block title %}CodeBlog - 修改资料{%- endblock %}

{%- block page_content %}
<div class="page-header">
    <h4>修改资料</h4>
</div>
<div class="col-md-4 well well-lg" style="background-color: rgba(255, 255, 255, 1);border-radius: 10px">
    {{ wtf.quick_form(form) }}
    <p></p>
    <a class="btn btn-warning" href="{{ url_for('auth.send_confirmation_email') }}">
    更改邮箱地址
    </a>
    <a class="btn btn-warning" href="{{ url_for('auth.password_change') }}">
    更改密码
    </a>
</div>
{%- endblock %}