{% extends "base.html" %}
{% block title %}CodeBlog{% endblock %}
{% block page_content %}
<div class="container">
   <div class="jumbotron" style="background-color: transparent">
       <div class="page-header">
        <div>
            <h1>CodeBlog <small>Demo</small></h1>
            <p></p>
            <p>
                <a href="{{ url_for( 'main.neighbourhood' ) }}" class="btn btn-lg btn-primary" role="button">去社区看看</a>
            </p>
        </div>
        <div>
            <i>
                <a href="https://github.com/ZsLinw/codeblog" target="_blank">Github</a>
                , by
                <a href="http://weibo.com/R34DM3" target="_blank">@LiNweI林瑋</a>.
            </i>
        </div>
        </div>
   </div>
</div>
{% endblock %}