{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% block title %}CodeBlog{% endblock %}

{% block page_content %}
<div class="row">
    <h4 align="center">
        <br><br>
            从{{ moment(time).format('LL') }}到现在，<br><br>
            已经过去了{{ moment().fromTime(time,1) }}。<br><br>
            现在这里有{{ User.query.count() }}个伙伴，
            {{ Post.query.filter_by(is_article=True).count() }}篇文章，
            {{ Post.query.filter_by(is_article=False).count() }}份吐槽。
    </h4>
    <hr/>
</div>
<div class="row" id='neighbourhood'>
    <aside class="col-md-3 hidden-xs">
    <form role="search" method="get" id="searchform" action="#neighbourhood">
        <div class="well input-group">
            <input type="text" name='key' id="search" class="form-control">
            <span class="input-group-btn">
                <button type="submit" id="searchsubmit" value="" class="btn btn-primary">
                    <span class="glyphicon glyphicon-search"></span>
                </button>
            </span>
        </div>
    </form>
    <div class="panel panel-info">
        <div class="panel-heading">栏目</div>
        <ul class="list-group" id="listcontrol">
            <li role="presentation" class="list-group-item">
                <span class="badge">{{ query.filter(Post.is_article==False).count() }}</span>
                <a href="?show_talk=1#neighbourhood">吐槽</a>
            </li>
        {% for category in categorys  %}
            {% if category.soncategorys %}
                <li role="presentation" class="list-group-item">
                    <span class="badge">{{ category.posts_count(query) }}</span>
                    <a href="?category={{ category.name }}#neighbourhood">{{ category.name }}</a>
                    <a data-toggle="collapse" data-parent="#listcontrol"  href="#{{ category.id }}">
                          <btn class="caret"></btn>
                    </a>
                </li>
                <li class="collapse" id="{{ category.id }}">
                {% for soncategory in category.soncategorys %}
                    <lu class="list-group-item">&nbsp;&nbsp;
                        <span class="badge">{{ soncategory.posts_count(query) }}</span>
                        <a href="?category={{ soncategory.name }}#neighbourhood">{{ soncategory.name }}</a>
                    </lu>
                {% endfor %}
                </li>
            {% else %}
                <li class="list-group-item">
                    <span class="badge">{{ category.posts_count(query) }}</span>
                    <a href="?category={{ category.name }}#neighbourhood">{{ category.name }}</a>
                </li>
            {% endif %}
        {% endfor %}
        </ul>
    </div>
    <div class="panel panel-info">
        <div class="panel-heading">标签</div>
        <div class="panel-body">
            {% for tag in tags if tag.posts_count() %}
                {% if tag.content == cur_tag %}
                <a href="?tag=#neighbourhood" class="btn btn-primary btn-xs" style= "margin: 4px">
                    {{ tag.content }}
                    <span class="glyphicon glyphicon-remove small rm-filter" aria-hidden="true"></span>
                </a>
                {% else %}
                <a href="?tag={{tag.content}}#neighbourhood" class="btn btn-info btn-xs" style= "margin: 4px">
                    {{ tag.content }}
                </a>
                {% endif %}
            {% else %}
                 无标签
            {% endfor %}
        </div>
    </div>
    </aside>
    <div class="col-md-9">
        <div class="panel panel-info">
            <div class="panel-heading">
                <div class="panel-title">
                    社区
                </div>
                {% if current_user.is_authenticated %}
                <ul class="nav nav-tabs" style="margin-top: 4px">
                    <li role="presentation"{% if not show_followed %} class="active"{% endif %}><a href="?show_followed=0#neighbourhood">All</a></li>
                    <li role="presentation"{% if show_followed %} class="active"{% endif %}><a href="?show_followed=1#neighbourhood">Follow</a></li>
                </ul>
                {% endif %}
            </div>
            <div class="panel-body">
                {% include '_posts.html' %}
            </div>
            {% if pagination and pagination.total//pagination.per_page %}
            <div class="panel-footer">
                {{ macros.pagination_widget(pagination, 'main.neighbourhood') }}
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}