{% extends "base.html" %}
{% import "_macros.html" as macros %}

{% block page_content %}
<div class="page-header">
    <h1>{{ user.username }}</h1>
    {% if user.name or user.location %}
    <p>
        {% if user.name %}{{ user.name }}{% endif %}
        {% if user.location %}
            From <a href="http://api.map.baidu.com/geocoder?address={{ user.location }}&output=html" target="_blank">
               {{ user.location }}
            </a>
        {% endif %}
    </p>
    {% endif %}
    {% if current_user.is_administrator() or user == current_user %}
    <p>{{ user.email }}</p>
    {% endif %}
    {% if user.about_me %}
        <p>{{ user.about_me }}</p>
    {% endif %}
    <p>        
        Member since {{ moment(user.member_since).format('L') }}.
        Last seen {{ moment(user.last_seen).fromNow() }}.
    </p>
    <hr/>
    {% if user == current_user %}
    <a class="btn btn-default" href="{{ url_for('.edit_profile') }}">修改资料</a>
    {% endif %}
    {% if current_user.is_administrator() %}
    <a class="btn btn-danger" href="{{ url_for('.edit_profile_admin',id=user.id) }}">修改资料[Admin]</a>
    {% endif %}
    {% if current_user.can(Permission.FOLLOW) and user != current_user %}
        {% if not current_user.is_following(user) %}
            <a href="{{ url_for('.follow',username=user.username) }}"
                class="btn btn-primary">关注</a>
        {% else %}
            <a href="{{ url_for('.unfollow',username=user.username) }}"
                class="btn btn-default">取消关注</a>
        {% endif %}
    {% endif %}
        &nbsp;
        <a href="{{ url_for('.followers',username=user.username) }}">粉丝</a>: <span class="badge">{{ user.followers.count() - 1 }}</span>&nbsp;
        <a href="{{ url_for('.followed_by',username=user.username) }}">关注</a>: <span class="badge">{{ user.followed.count() - 1 }}</span>&nbsp;
        <a href="{{ url_for('main.user',username=user.username) }}">文章</a>: <span class="badge">{{ user.posts.filter_by(is_article=True).count() }}</span>&nbsp;
        <a href="#">吐槽</a>: <span class="badge">{{ user.posts.filter_by(is_article=False).count() }}</span>&nbsp;
        {% if current_user.is_authenticated and user != current_user and
            user.is_following(current_user) %}
          | <span class="label label-default">正在关注你</span>
        {% endif %}
    <hr/>
    <div class="container-fluid">
    <div class="row" style="margin-left:-30px;margin-right:-30px" id='neighbourhood'>
        <aside class="col-md-3 hidden-xs">
        <div class="panel panel-info">
            <div class="panel-heading">栏目</div>
            <ul class="list-group" id="listcontrol">
            {% for category in categorys if category.posts_count(query) %}
                {% if category.soncategorys %}
                    <li role="presentation" class="list-group-item">
                        <span class="badge">{{ category.posts_count(query) }}</span>
                        <a href="?category={{ category.name }}#neighbourhood">{{ category.name }}</a>
                        <a data-toggle="collapse" data-parent="#listcontrol"  href="#{{ category.id }}">
                              <btn class="caret"></btn>
                        </a>
                    </li>
                    <li class="collapse" id="{{ category.id }}">
                    {% for soncategory in category.soncategorys if soncategory.posts_count(query) %}
                        <lu class="list-group-item">
                            <span class="badge">{{ soncategory.posts_count(query) }}</span>
                            <a href="?category={{ soncategory.name }}#neighbourhood">{{ soncategory.name }}</a>
                        </lu>
                    {% endfor %}
                    </li>
                {% else %}
                    <li class="list-group-item">
                        <span class="badge">{{ category.posts_count(query) }}</span>
                        <a href="?category={{ category.name }}#neighbourhood">{{ category.name }}</a>
                    </li>
                {% endif %}
            {% else %}
                <div class="panel-body">
                    无栏目
                </div>
            {% endfor %}
            </ul>
        </div>
        <div class="panel panel-info">
            <div class="panel-heading">标签</div>
            <div class="panel-body">
            {% if tags %}
                {% for tag in tags %}
                    <a href="?tag={{tag.id}}#neighbourhood" class="post-tag">
                        {% if tag == cur_tag %}
                        <span class="label label-primary">
                            {{ tag }}
                            <small><span class="glyphicon glyphicon-remove small rm-filter" aria-hidden="true"></span></small>
                        </span>
                        {% else %}
                        <span class="label label-default">
                            {{ tag }}
                        </span>
                        {% endif %}
                    </a>
                    &nbsp;
                {% endfor %}
                {% else %}
                    无标签
                {% endif %}
            </div>
        </div>
        </aside>
        <div class="col-md-9">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <div class="panel-title">
                        文章
                    </div>
                </div>
                <div class="panel-body">
                    {% include '_posts.html' %}
                </div>
                {% if pagination and pagination.total//pagination.per_page %}
                <div class="panel-footer">
                    {{ macros.pagination_widget(pagination, 'main.neighbourhood') }}
                </div>
                {% endif %}
            </div>
        </div>
    </div>
    </div>
</div>
{% endblock %}