{%- extends "base.html" %}
{%- import "_macros.html" as macros %}

{%- block title %}CodeBlog - {{ user.username }}{%- endblock %}

{%- block page_content %}
<div class="container-fluid">
<div class="well  well-lg" style="background-color: transparent">
    <h1>{{ user.username }}</h1>
    {%- if user.name or user.location %}
    <p>
        {%- if user.name %}{{ user.name }}{%- endif %}
        {%- if user.location %}
            From <a  class="small-font" href="http://api.map.baidu.com/geocoder?address={{ user.location }}&output=html" target="_blank">
               {{ user.location }}
            </a>
        {%- endif %}
    </p>
    {%- endif %}
    {%- if current_user.is_administrator() or user == current_user %}
    <p>{{ user.email }}</p>
    {%- endif %}
    {%- if user.about_me %}
        <p>{{ user.about_me }}</p>
    {%- endif %}
    <p>
        {{ moment(user.member_since).format('LL') }}那一天来到这个网站，
        最后一次出没在{{ moment(user.last_seen).fromNow(1) }}前。
    </p>
    <div class="btn-group">
    {%- if user == current_user %}
    <a class="btn btn-default" href="{{ url_for('main.edit_profile') }}">修改资料</a>
    {%- endif %}
    </div>
    {%- if current_user.can(Permission.FOLLOW) and user != current_user %}
        {%- if not current_user.is_following(user) %}
            <a href="{{ url_for('main.follow',username=user.username) }}"
                class="btn btn-default">关注</a>
        {%- else %}
            <a href="{{ url_for('main.not_follow',username=user.username) }}"
                class="btn btn-warning">取消关注</a>
        {%- endif %}
            <a href="{{ url_for('main.new_dialogue',username=user.username) }}"
               class="btn btn-default">发消息</a>
    {%- endif %}
        &nbsp;
        <a class="small-font" href="{{ url_for('.followers',username=user.username) }}#user">粉丝</a>: <span class="badge">{{ user.followers.count() - 1 }}</span>&nbsp;
        <a class="small-font" href="{{ url_for('.followed_by',username=user.username) }}#user">关注</a>: <span class="badge">{{ user.followed.count() - 1 }}</span>&nbsp;
        <a class="small-font" href="{{ url_for('main.user',username=user.username) }}#user">文章</a>: <span class="badge">{{ user.posts.count() }}</span>
        {%- if current_user.is_authenticated and user != current_user and
            user.is_following(current_user) %}
          | <span class="label label-default">正在关注你</span>
        {%- endif %}
</div>
    <hr/>
    <div class="row" id='user'>
        <aside class="col-md-3 hidden-xs hidden-sm">
        <form role="search" method="get" id="searchform" action="">
        <div class="well well-sm input-group" style="background-color: rgba(255, 255, 255, 1)">
            <input type="text" name='key' id="search" value="{%- if key %}{{ key }}{%- endif %}" class="form-control">
            <span class="input-group-btn">
            {%- if key %}
                <a type="button" class="btn btn-default" href="?key_disable=1#user">
                    <span class="glyphicon glyphicon-remove"></span>
                </a>
            {%- else %}
                <button type="submit" id="searchsubmit" class="btn btn-default">
                    <span class="glyphicon glyphicon-search"></span>
                </button>
            {%- endif %}
            </span>
        </div>
        </form>
        <div class="panel panel-default">
            <div class="panel-heading"><i class="fa fa-filter fa-lg"></i>&nbsp;栏目
            {% if cur_category %}
            <a href="?category_disable=1#user">
            <span class="glyphicon glyphicon-remove rm-filter pull-right" aria-hidden="true" style="color: #000000;margin: 5px;margin-right: 0px"></span>
            </a>
            {% endif %}
            </div>
            <ul class="list-group" id="listcontrol">
            {%- for category in categories if category.posts_count(query_category_count) %}
            {%- if category.son_categories %}
                <a href="?category={{ category.name }}#user" class="list-group-item{%- if cur_category == category.name %} active{%- endif %}">
                    <span class="badge">{{ category.posts_count(query_category_count) }}</span>
                    {{ category.name }}
                </a>
                {%- for son_category in category.son_categories if son_category.posts_count(query_category_count) %}
                    <a href="?category={{ son_category.name }}#user" class="list-group-item{%- if cur_category == son_category.name %} active{%- endif %}">&nbsp;&nbsp;
                        <span class="badge">{{ son_category.posts_count(query_category_count) }}</span>
                        {{ son_category.name }}
                    </a>
                {%- endfor %}
            {%- else %}
                <a href="?category={{ category.name }}#user" class="list-group-item{%- if cur_category == category.name %} active{%- endif %}">
                    <span class="badge">{{ category.posts_count(query_category_count) }}</span>
                    {{ category.name }}
                </a>
            {%- endif %}
            {%- else %}
                {%- if not query_category_count.filter(Post.is_article==False).count() %}
                <div class="panel-body">
                无栏目
                </div>
                {%- endif %}
            {%- endfor %}
            </ul>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading"><i class="fa fa-tags fa-lg"></i>&nbsp;标签
            {% if not cur_tags.__len__() <= 1%}
            <a href="?tag_disable=1#user">
            <span class="glyphicon glyphicon-remove rm-filter pull-right" aria-hidden="true" style="color: #000000;margin: 5px;margin-right: 0px"></span>
            </a>
            {% endif %}
            </div>
            <div class="panel-body">
            {%- for tag in tags if tag.posts_count(query_tag_count)%}
                {%- if tag.content in cur_tags %}
                <a href="?tag={{tag.content}}#user" class="btn btn-default btn-sm" style= "margin: 4px">
                    {{ tag.content }}
                    <span class="glyphicon glyphicon-remove small rm-filter" aria-hidden="true"></span>
                </a>
                {%- else %}
                <a href="?tag={{tag.content}}#user" class="btn btn-default btn-xs" style= "margin: 4px">
                    {{ tag.content }}
                </a>
                {%- endif %}
            {%- else %}
                 无标签
            {%- endfor %}
            </div>
        </div>
        </aside>
        <div class="col-md-9">
            <div>
                <div class="post-container">
                    {%- include 'post/_posts.html' %}
                </div>
                {%- if pagination and pagination.total//pagination.per_page %}
                <div>
                    {{ macros.pagination_widget(pagination, 'main.user', username=user.username) }}
                </div>
                {%- endif %}
            </div>
        </div>
    </div>
</div>
{%- endblock %}
